<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDBt4w6iMEtvipic7CZ-c31e03hOgVZkXo</string>
	<key>GCM_SENDER_ID</key>
	<string>6568001386</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hu.soulquest.uton</string>
	<key>PROJECT_ID</key>
	<string>uton-c787f</string>
	<key>STORAGE_BUCKET</key>
	<string>uton-c787f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:6568001386:ios:a94fbadf54214562a6af13</string>
</dict>
</plist>